{{ define "main" }}

  <h1  class="has-text-centered">{{ .Title }}</h1>

  {{ .Content }}
  
  {{ $concerts := where .Site.Pages "Type" "concerts" }}
  {{ $sorted := sort $concerts ".Params.Date" }}
  {{ range $sorted }}
    <article class="post-snippet">
      <h3>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
    </article>
  {{ end }}
{{ end }}

